
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Younite</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

		<script type="text/javascript" src="/js/aa.js"></script>
		
	</head>
	<body>
		&nbsp id  &nbsp: <input id="uid"><br>
		room: <input id="room"> <br>
		<button id="start">Start</button>
		<div id="msgDiv">
			<input type="text" id="msg" />
			<button id="send">Send</button>
		<hr>
			<div id="log" style="background: yellow ;width: 500px;height: 300px">
			
			</div>
		</div>
	</body>
</html>